
.sky {

    background-size: cover;
    height: 100vh;
    padding: 5px;
  }
  .photo {

    height: 100%;
    opacity: 1;
  
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }